/* line 17, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, /Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Metronic";
  src: url("/fonts/Metronic Pro Regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Metronic Italic";
  src: url("/fonts/Metronic Pro Regular Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

body {
	background:#000;
	font-family: "Metronic", "Myriad Pro", Myriad, Arial, sans-serif;
	color:#FFF;
}
a, a:link, a:visited, a:hover, a:active {
	color:#FFF;
	text-decoration: none;
}
.wrapper {
	background:transparent url('/images/bg.png') 50% 0% no-repeat;
	background-size: cover;
	padding:110px 0 50px 0;
}
.app-container {
	width:1274px;
	height:781px;
	background:transparent url('/images/container-bg.png') 50% 0% no-repeat;
	margin:0 auto;
	position: relative;
}
.inner-container {
	position: relative;
}
.app-logo {
	height:204px;
	width:425px;
	background: transparent url('/images/logo.png') 50% 0% no-repeat;
	text-indent: -10000px;
	position:absolute;
	top:-110px;
	left:50%;
	margin-left:-212px;
	z-index:3;
}

section {
	opacity:0;
	position:absolute;
	width:1274px;
	height:781px;
	z-index: 0;
  	transition: all linear .5s;
}
section.active {
	opacity:1.0;
	z-index:1;
}
#main p {
	text-transform: uppercase;
	font-size:37px;
	text-align: center;
	width:475px;
	margin:auto;
	padding:125px 0 0 0;
}
#main .hero-selection > p {
	text-shadow:0 0 8px #009cff;
	padding-top:90px;
}
.hero-selection > ul {
	width:225px;
	height:200px;
	margin:35px auto;
	padding-left:53px;
}
.hero-selection > ul > li {
	height:92px;
	width:100px;
}
.hero-selection > ul > li > a {
	display:block;
	height:92px;
	width:100px;
	text-indent:-10000px;
	background:transparent url('/images/purple-border.png') 50% 0px no-repeat;
}
.hero-selection > ul > li.selected > a:after, .hero-selection > ul > li > a:hover:after {
	display:block;
	height:92px;
	width:100px;
  	content: "";	
	background:transparent url('/images/blue-border.png') 50% -7px no-repeat;
	position:absolute;
	z-index:1;
	margin-top:-18px;
}

li#murky, li#abathur, li#sonya, li#gazlowe, li#azmodan, li#kt{
	float:left;
	margin-left:-32px;
}

li#murky {
	background:transparent url('/images/murky.png') 50% 3px no-repeat;
}

li#abathur {
	background:transparent url('/images/abathur.png') 50% 3px no-repeat;
}

li#sonya {
	background:transparent url('/images/sonya.png') 50% 3px no-repeat;
}

li#azmodan {
	margin-top:-35px;
	margin-left:-35px;
	background:transparent url('/images/azmodan.png') 50% 3px no-repeat;
}

li#gazlowe {
	margin-top:-35px;
	margin-left:4px;
	background:transparent url('/images/gazlowe.png') 50% 3px no-repeat;
}
li#kt {
	margin-top:-35px;
	margin-left:36px;
	background:transparent url('/images/kt.png') 50% 3px no-repeat;
}
li#kt.murky {
	background:transparent url('/images/murky.png') 50% 3px no-repeat;
}
a.play {
	text-transform: uppercase;
	font-weight: bold;
	background: linear-gradient(#f90,#f60);
  	text-align: center;
  	padding: 0 20px;
  	line-height: 48px;
  	height:44px;
  	border: 2px solid #ffb674;
  	font-size:24px;
  	display:block;
  	width:100px;
  	margin:auto;
}
a.play:hover, a.play:active {
	box-shadow: inset 0 0 16px 1px rgba(255, 255, 255, .75);
}
#hero-loading {
	height:60px;
	width:665px;
	margin:auto;
	padding-top:605px;
}
#hero-loading.murky {
	background:transparent url('/images/murky-bg.png') 50% 0 no-repeat;
}
#hero-loading.azmodan {
	background:transparent url('/images/azmodan-bg.png') 50% 0 no-repeat;
}
#hero-loading.sonya {
	background:transparent url('/images/sonya-bg.png') 50% 0 no-repeat;
}
#hero-loading.abathur {
	background:transparent url('/images/abathur-bg.png') 50% 0 no-repeat;
}
#hero-loading.gazlowe {
	background:transparent url('/images/gazlowe-bg.png') 50% 0 no-repeat;
}
#hero-loading > p {
	font-style:italic;
	text-align: center;
	background:transparent url('/images/loading.png') 50% 0 no-repeat;
	padding-top:105px;
}
#battleground {
	background:transparent url('/images/battleground.png') 50% 0% no-repeat;
}
.hero-info {
	width:307px;
	height:78px;
	position:absolute;
	bottom:-8px;
	left:-30px;
	background:transparent url('/images/status.png') 50% 0% no-repeat;
}
.hero-name {
	float:right;
	text-align: right;
	height:36px;
	padding-top:30px;
	padding-right:40px;
	text-transform: uppercase;
	text-shadow:0 0 8px #009cff;
}
.hero-points {
	float:left;
	padding-top:45px;
	padding-left:55px;
}
.hero-battle {
	height: 150px;
	top:50%;
	position: relative;
	margin-top: -110px;
	line-height: 150px;
}
.hero-battle > a {
	text-indent: -10000px;
	display:block;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.hero-battle > a.hero {
	height:50px;
	width:50px;
	position:absolute;
	top:50%;
	margin-top:-20px;
}

.hero-battle > a.hero.friendly {
	left:142px;
}

.hero-battle > a.hero.enemy {
	right:122px;
	margin-top: -32px;
}
.hero-battle > a.hero.brightwing {
	background:transparent url('/images/brightwing.png') 50% 0% no-repeat;
	background-size: 70%;
}

.hero-battle > a.hero.murky {
	background:transparent url('/images/murky.png') 50% 0% no-repeat;
	background-size: 70%;
}

.hero-battle > a.hero.abathur {
	background:transparent url('/images/abathur.png') 50% 0% no-repeat;
	background-size: 70%;
}

.hero-battle > a.hero.azmodan {
	background:transparent url('/images/azmodan.png') 50% 0% no-repeat;
	background-size: 70%;
}

.hero-battle > a.hero.sonya {
	background:transparent url('/images/sonya.png') 50% 0% no-repeat;
	background-size: 70%;
}

.hero-battle > a.hero.gazlowe {
	background:transparent url('/images/gazlowe.png') 50% 0% no-repeat;
	background-size: 70%;
}
.hero-battle > a.hero:after {
	display:block;
	height:50px;
	width:50px;
	text-indent: -10000px;
	background:transparent none top left no-repeat;
  	content: "";
  	position: absolute;
  	top:-5px;
}
.hero-battle > a.hero.friendly:after {
	background-image: url('/images/blue-border.png');
	background-size:50px 50px;
}
.hero-battle > a.hero.enemy:after {
	background-image: url('/images/red-border.png');
	background-size:50px 50px;
}
.hero-battle > a.minion, .hero-battle > a.minion:link, .hero-battle > a.minion:visited {
	background:transparent url('/images/minion.png') top left no-repeat;
	height:29px;
	width:32px;
	position:absolute;
	right:5px;
	top:50%;
	margin-top: -27px;
  	transition: right linear .5s, opacity linear .3s;
  	z-index: 3;
}

.hero-battle > a.boss, .hero-battle > a.boss:link, .hero-battle > a.boss:visited {
	background:transparent url('/images/boss.png') top left no-repeat;
	height:105px;
	width:123px;
	position:absolute;
	right:5px;
	top:50%;
	margin-top: -80px;
  	transition: right linear 1s;
  	z-index: 4;
}
.hero-battle > a.minion:hover, .hero-battle > a.minion:active, .hero-battle > a.boss:hover, .hero-battle > a.boss:active {
	background-position: top right;
}
#end {
	text-align:center;
}
.final-points-container, .thanks {
	width:475px;
	margin:auto;
	text-shadow:0 0 8px #009cff;
}
.thanks {
	text-transform: uppercase;
	padding:150px 0 190px 0;
	font-size:37px;
	background: transparent url('/images/cherpofthestorm.png') 50% 100% no-repeat; /* Cherp? DansGame */
}
.final-points-container {
	font-size:44px;
	padding:20px 0 0 0;
}
.high-score {
	padding:20px 0 100px 0;
	width:475px;
	margin:auto;
	text-transform: uppercase;
}
footer {
	padding:100px 0 0 0;
	font-style: italic;
	font-size: 14px;
}

#heroic {
	opacity:0;
	background: transparent url('/images/emerald-wind.jpg') 50% 0% no-repeat;
	height: 50px;
	width: 50px;
	background-size:50px 50px;
	position: absolute;
	border-radius: 6px;
	box-shadow:inset 0 0 8px 0 #009cff;
	border:1px solid #009cff;
	border-bottom:3px solid #009cff;
	text-indent:0;
	text-align: center;
	line-height: 85px;
	text-shadow:0 0 5px #000;
	left:45px;
	font-size: 11px;
	top:50%;
	margin-top:-27px;
  	transition: all linear .5s;
  	cursor: default;
}
#heroic.available {
	opacity:1;
  	cursor: pointer;
}
#heroic span {
	opacity:0;
	border-radius: 6px;
	display:block;
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	background:rgba(0,0,0,.7);
	line-height:50px;
	font-size:22px;
  	transition: all linear .5s;
}
#heroic.cooldown span {
	opacity: 1;
}
.emerald-wind {
	background:rgba(79, 234, 165, .3);
	border:10px solid rgba(79, 234, 165, .4);
	border-radius:10px;
	height:10px;
	width:10px;
	position: absolute;
	left:50%;
	top:50%;
	margin-top:-15px;
	margin-left:-2px;
	z-index:1000;
	opacity:1;
  	transition: all linear 2s;
  	box-shadow:inset 0 0 16px 0 #4feaa5, 0 0 16px #4feaa5;
}
.emerald-wind.full {
	width: 1000px;
  	height: 1000px;
  	border-radius: 1000px;
	opacity:0;
	top:-450px;
	left:70px;
	z-index:-1;
}
.level-up {
	text-shadow:0 0 8px #009cff;
	text-transform: uppercase;
	font-size:37px;
	text-align: center;
	width:1274px;
	position:absolute;
	top: -150px;
}
.level-up span {
	text-shadow:none;
	font-size:14px;
	font-style: italic;
}

@media only screen and (max-device-width:480px) {
	.wrapper {
        background-attachment: scroll;
        width:100%;
	}
	.app-container, section {
		width:100%;
	}
	.app-logo {
		top: -100px;
	}
	#battleground {
		background-position: 50% 60%;
		background-size:200%;
	}
	.minion {

	}
}	
@media only screen and (orientation:portrait) and (max-device-width:480px) {
	body {
	    -webkit-transform: rotate(90deg);
	    -moz-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    transform: rotate(90deg);
	} 
}